{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "NEO" %}{% endblock %}

{% block main %}

<style>

#content_body .container-fluid{
    height: 100% !important;
    omargin-left: -15px;
}

#content_body .container-fluid .row{
    height: 100% !important;
}

#content_body .container-fluid .row .col-xs-12{
    height: 100% !important;
    opadding-right: 0px;
}

#content_body .container-fluid .row .col-xs-12 .page-header{
    display: none !important;
}

iframe#ufm_iframe{
    width: 100%;
    height: 99%;
}
</style>

<iframe id="ufm_iframe" src="">
  <p>Your browser does not support iframes.</p>
</iframe>

<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
   $( document ).ready(function() {
       horizon.mellanox_dashboard.prepareUFMPanel();
   });
</script>


{% endblock %}



