include setup.py

recursive-include mellanox_dashboard/templates *
recursive-include mellanox_dashboard/static *
recursive-include mellanox_dashboard/neopanel/templates *
recursive-include mellanox_dashboard/aboutpanel/templates *
recursive-include mellanox_dashboard/ufmpanel/templates *
recursive-include mellanox_dashboard/settingspanel/templates *
