{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "NEO" %}{% endblock %}

{% block main %}

<style>
.breadcrumb{
    display: none;
}

html, body, #container, #main_content {
    height: 100% !important;
}

#content_body{
    height: 100% !important;
    margin-left: -15px;
}

#content_body .container-fluid{
    height: 100% !important;
    margin-left: -15px;
}

#content_body .row{
    height: 100% !important;
}

#content_body .row .col-xs-12{
    height: 100% !important;
    padding-right: 0px;
}

#content_body .row .col-xs-12 .page-header{
    display: none !important;
}

iframe#about_iframe{
    width: 100%;
    height: 99%;
}
</style>

<iframe id="about_iframe" src="https://wiki.openstack.org/wiki/Mellanox-Neutron">
  <p>Your browser does not support iframes.</p>
</iframe>

{% endblock %}



